html {
  font: 100% "Roboto", Verdana, sans-serif;
  background-color: indigo;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
  font-size: 96px;
  font-weight: 100;
  color: white;
  text-align: center;
}
